<form action="/<%= @title %>" method="post" class="form">
  <div><input type="text" name="title" placeholder="タイトル" value="<%= @title %>"class="form-item  form_title"></div>
  <div><textarea name="detaile" placeholder="詳細の入力" class="form-item form_detail"><%= @detaile %></textarea></div>
  <input type="submit" value="メモを<%= @action_jp %>する" class="form-item form_submit">
  <% if @action == "edit" %>
    <input type="hidden" name="_method" value="patch"> 
  <% end %>
</form>
