<a href="/new" class="btn btn-primary">メモの作成画面へ</a>

<ol class="titles">
  <% @titles.each do |title| %>
    <li class="title-item">
      <a href="/<%= escape_path(title) %>"><%= escape_html(title) %></a>
    </li>
  <% end %>
</ol>
