<!DOCTYPE html>
<html lang="ja">

<head>
  <title>Simple Memo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <main class="container">
    <h1 class="app_name">Sinatra Simple Memo</h1>
    <%= yield %>
  </main>
</body>

</html>
