<a href="/" class="btn btn-primary">メモの一覧へ</a>
<a href="/new" class="btn btn-primary">メモの作成画面へ</a>

<h1 class="title"><%= @title %></h1>

<div class="detail"> <%= escape_html(@detail) %></div>

<div class="buttons">
  <a href="/<%= @title %>/edit" class="btn btn-success">更新する</a>
  <form action="/<%= @title %>" method="post">
    <input type="submit" value="削除する" class="btn btn-danger">
    <input type="hidden" name="_method" value="delete" >
  </form>
</div>
