<form>
  <button formaction="/" formmethod="get" class="btn btn-primary">メモの一覧へ</button>
  <button formaction="/new" formmethod="get" class="btn btn-primary">メモの作成画面へ</button>
</form>

<h1 class="title"><%= @title %></h1>

<div class="detail"> <%= @detail %></div>

<div class="buttons"> 
  <form action="/<%= @title %>/edit" method="get">
    <input type="submit" value="更新する" class="btn btn-success">
  </form>
  <form action="/<%= @title %>" method="post">
    <input type="submit" value="削除する" class="btn btn-danger">
    <input type="hidden" name="_method" value="delete" >
  </form>
</div>
